<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name, placeholder: "Name of the restaurant"%>
        <%= f.input :category, collection: Restaurant::CATEGORIES, prompt: "Choose one"  %>
        <%= f.input :address, as: :string, placeholder: "Restaurant's address" %>
        <%= f.input :phone_number, placeholder: "Name of the restaurant"%>

        <%= f.submit "Go", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
