<h1 class="text-center">All the restaurants</h1>


<div class="container">
  <div class="row">
    <% @restaurants.each do |resto| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2><%= resto.name %></h2>
      <p><%= resto.category %></p>
      <p><%= resto.address %></p>
      <p><%= resto.phone_number %></p>
      <%= link_to "Check it", restaurant_path(resto), class: "btn btn-primary" %>
      <%= link_to "Edit it", edit_restaurant_path(resto), class: "btn btn-primary" %>
      <%= link_to "Destroy it", restaurant_path(resto), method: :delete, class: "btn btn-primary" %>
      <%= link_to "Review it", new_restaurant_review_path(resto), class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>


  <%= link_to 'New Restaurant', new_restaurant_path %>

</div>
