<h1 class="text-center">About <%= @restaurant %> </h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2><%= @restaurant.name %></h2>
      <p><%= @restaurant.category %></p>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
      <% @restaurant.reviews.each do |review|  %>
      <ul>
        <li> <%= review.rating %> - <%= review.content %> </li>
      </ul>
      <% end %>
        <%= link_to 'Back to all restaurants', restaurants_path %>

      </div>
  </div>
</div>


